<h1>Profile works</h1>
<blockquote class="blockquote text-center">
	<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<div class="card p-2 mb-3">
	<article class="font-weight-light">
		<div class="image-wrapper float-left pr-3">
			<img src="https://placeimg.com/150/150/animals" alt="">
      </div>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit
				asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo
				necessitatibus.
			</div>
	</article>
</div>